.pakages{
    /* border:1px solid red; */
    background:#6a502b;
}
.pakages .inner-pakages{
    /* border:1px solid blue; */
    color: white;
    padding: 50px 0px;
    text-align: center;
}
.pakages .inner-pakages h3{
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
}
.pakages .inner-pakages p{
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
}

@media (min-width:279px) and (max-width:480px){
    .pakages .inner-pakages{
        /* border:1px solid blue; */
        color: white;
        padding: 35px 0px;
        text-align: center;
    }
    .pakages .inner-pakages h3{
        font-size: 25px;
        font-weight: 700;
        margin: 0px;
    }
}